.form-card input{
    /* display: flex;
    justify-content: space-around;
    align-items: center; */
    /* margin-left: 100px; */
    margin: 10px auto;
    width: 300px;
    border: transparent;
    border-radius: 6px;
    box-shadow: 0 2px 8px rgb(215, 225, 229);
    padding: 10px;
    
}


.form-card{
    display: flex;
    justify-content: space-around;
    /* align-items: center; */
    flex-direction: column;
    margin: 10px auto;
    width: 400px;
    border: transparent;
    border-radius: 6px;
    box-shadow: 0 2px 8px rgb(108, 213, 255);
    padding: 10px;
    margin-bottom: 30px;
}

.form-card span{
    margin-left: 40px;
    font-weight: bold;
}

.form-btn{
    /* margin: 10px auto; */
    width: 100px;
    border: transparent;
    border-radius: 4px;
    box-shadow: 0 2px 8px rgb(220, 235, 241);
    padding: 10px;
}
.form-btn:hover{
    background-color: rgb(192, 255, 255);
    /* border: 1px solid rgb(0, 169, 177); */
}
.form-err{
    color: red;
    font-size: 13px;
    padding: 6px;
    margin-left: 40px;
}